$ORIGIN .
$TTL 38400    ; 10 hours 40 minutes
{{ domain }}        IN SOA    {{ ansible_fqdn }}. root.{{ ansible_fqdn }}. (
                2017092400 ; serial
                10800      ; refresh (3 hours)
                3600       ; retry (1 hour)
                604800     ; expire (1 week)
                38400      ; minimum (10 hours 40 minutes)
                )
            NS    {{ ansible_fqdn }}.
            A    {{ static_declarations.dns.ip }}
$ORIGIN {{ domain }}.
{% for host, value in static_declarations.iteritems() %}
{{ value.hostname }}	A	{{ value.ip }}
{% endfor %}
