include "/etc/rndc.key";

options {
    listen-on { any; };
    directory          "/var/named";
    dump-file          "/var/named/data/cache_dump.db";
    statistics-file    "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    allow-query { any; };
    recursion yes;
    dnssec-enable yes;
    dnssec-validation yes;
    dnssec-lookaside auto;

    /* Path to ISC DLV key */
    bindkeys-file "/etc/named.iscdlv.key";

    managed-keys-directory "/var/named/dynamic";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };

        channel update_debug {
             file "/var/log/update-debug.log";
             severity  debug 3;
             print-category yes;
             print-severity yes;
             print-time     yes;
        };
        channel security_info    {
             file "/var/log/named-auth.info";
             severity  info;
             print-category yes;
             print-severity yes;
             print-time     yes;
        };

        category update { update_debug; };
        category security { security_info; };
};

zone "{{ domain }}" IN {
    type master;
    file "dynamic/db.{{ domain }}.zone";
    allow-update { key rndc-key; };
};

zone "{{ reverse_dns }}" IN {
    type master;
    file "dynamic/db.{{ domain }}.rr.zone";
    allow-update {key rndc-key; };
};

controls {
     inet 127.0.0.1 port 953
         allow { 127.0.0.1; } keys { "rndc-key"; };
};

zone "." IN {
        type hint;
        file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
